@model CarListViewModel

<div>
    <h2>Категория: @Model.CurrentCategory</h2>
    @{
        foreach (var car in Model.GetAllCars)
        {
            <div>
                <p>Модель: @car.Name</p>
                <p>Цена: @car.Price.ToString("c")</p>
            </div>
        }
    }
</div>